@import "main.css";
@import "custom.css";

/* Content */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-alternate {
  display: none;
}

@media (max-width: 600px) {
  .carousel {
    display: none;
  }

  .carousel-alternate {
    display: block;
    width: 100%;
  }
}

.fa-row {
  background-color: var(--dominantColor);
  padding-top: 25px;
  padding-bottom: 35px;
  color: #ffffff;
  font-weight: bold;
}

.fa-row-icon,
.fa-row-icon {
  font-size: 60px;
  color: #ffffff;
  margin-top: 10px;
}

.fa-row-icon:hover,
.fa-row-icon:hover {
  transform: scale(1.1);
  color: var(--secondaryColor);
}

.cropped {
  width: 200px;
  height: 200px;
  clip-path: circle(50% at 50% 50%);
}

.staff {
  position: relative;
  padding-bottom: 20px;
}
/* Bottom Section */

/* Context Paragraph */
.gallery-button {
  margin-top: 20px;
}

.btn-gallery {
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}

.btn-gallery:hover {
  border-color: var(--secondaryColor);
  color: #ffffff;
  background-color: var(--secondaryColor);
}

.context-div {
  position: relative;
  background-color: #eeeeee;
  padding: 25px;
  height: auto;
  min-height: 450px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: var(--boxShadow);
}

.context-img {
  position: relative;
  float: right;
  padding-left: 18px;
}

@media (max-width: 600px) {
  .context-img {
    width: 100%;
  }
}

.btn-context {
  position: relative;
  float: left;
  clear: both;
  margin-top: 18px;
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}

.btn-context:hover {
  border-color: var(--secondaryColor);
  color: #ffffff;
  background-color: var(--secondaryColor);
}
/* Context Paragraph */

/* Bottom Row */

/* Volunteer Paragraph */
.volunteer-div {
  position: relative;
  background-color: #eeeeee;
  padding: 25px;
  height: auto;
  min-height: 450px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: var(--boxShadow);
}

.volunteer-img {
  position: relative;
  float: left;
  padding-right: 18px;
}

@media (max-width: 600px) {
  .volunteer-img {
    width: 100%;
    float: none;
    padding: 0px;
  }
}

.btn-volunteer {
  position: relative;
  float: left;
  clear: both;
  margin-top: 18px;
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}

.btn-volunteer:hover {
  border-color: var(--secondaryColor);
  color: #ffffff;
  background-color: var(--secondaryColor);
}

.gallery-box {
  margin-top: 15px;
}

.img-fancybox {
  width: 200px;
  height: auto;
  box-shadow: var(--boxShadow);
}

@media screen and (max-width: 575px) {
  .img-fancybox {
    width: 100%;
    height: auto;
  }
}

/* Volunteer Paragraph */
